body {
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
}

header {
    margin: 25px;
}

h6 {
    display: inline;
    font-weight: bold;
    font-size: 14px;
}

#links {
    float: right;
}

#links > a {
    padding-left: 20px;
    text-decoration: none;
    color: #000;
}

#links > .blackRoundButton {
    margin-left: 20px;
    background-color: #000;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    color: #fff;
}

.left {
    float: left;
    width: 45%;
    margin: 25px;
}

.left > p {
    border-left: 2px solid #69696a;
    padding-left: 15px;
}